
.container{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
body {
  font-family: 'Manrope';
}
.btn{
  border: none;
  margin: auto;
  margin-top: 40px;
  width: 200px;
  height: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.1;
  font-family: "Arial";
  text-align: center;
  cursor: pointer;
    background: #f73327;
  &:hover{
    background: #dc143c;
    outline: none;
  }
  &:active{
    outline: none;
  }
  &:focus{
    outline: none;
  }
}
.btn-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  &:before, &:after{
    content: '';
    position: absolute;
    width: 3px;
    height: 10px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(45deg);
    background: black;
  }
  &:after{
    transform: rotate(-45deg);
  }
}

.product{

  &__view{
    background: white;
    width: 938px;
    margin: auto;
    margin-top: 20px;
    display: none;
  }
  &__wrapper{

  }
  &__info{
    padding-top: 20px;
    position: relative;
    padding-bottom: 40px;
    box-shadow: 0px 5px 9px -2px #0A4356;
  }
  &__frame{

    &--mob{
      margin: auto;
      display: block;
      position: absolute;
      right: 7px;
      top: 91px;
      height: 423px;
      width: 240px;

    }
    &--desktop{
      margin: auto;
      position: absolute;
      right: -1px;
      top: 72px;
      width: 548px;
      height: 301px;
    }
    &-mob{
      width: 400px;
      margin: auto;
      display: flex;
    }
    &-desktop{
      width: 700px;
      margin: auto;
      display: flex;
    }
  }
  &__list {
    width: 700px;
    margin:auto;
    padding-top: 9px;
  }
  &__item{
    cursor: pointer;
    font-size: 16px;
    text-transform: capitalize;
    &-title{
      color: rgb(10, 67, 86);
      &:hover{
        color: #23a4ce;
      }
    }
  }
  &__name{
    background: #23A4CE;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.313;
    padding: 3px 40px;
    width: fit-content;
    margin-bottom: 10px;
  }
  &__desc{
    text-align: center;
    margin-bottom: 30px;
  }
  &__text{
    font-size: 30px;
    margin-bottom: 40px;
    margin-left: 40px;

    span{
      font-weight: 700;
    }
  }
  &__share{
    position: absolute;
    right: 55px;
    top: 30px;
    background-image: url("../../../src/images/icons/share.png");
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}


.main{
  min-height: 100vh;
  background: url("../../../src/images/bg.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 40px;

  &__subcat{
    background-color: rgb(255, 255, 255);
    display: none;
    opacity: 0.8;
    height: 62px;
    &-container{
      width: 935px;
      display: flex;
      position: relative;
      justify-content: center;
    }
  }
  &__products{
    background-color: rgb(255, 255, 255);
    //display: none;
    opacity: 0;
    height: 0;
    transition: height, opacity 0.5s;
    &--open{
      opacity: 0.8;
      height: 62px;
    }
    &-container{
      width: 935px;
      display: flex;
      position: relative;
      justify-content: center;
    }
  }

}
.btn-state{
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  margin: 2px;
  border-radius: 4px;
  &:disabled{
    opacity: 0.5;
    &:hover{
      box-shadow: none;
    }
    cursor: inherit;
  }
  &--mob{
    background-image: url("../../../src/images/icons/mobile.png");
  }
  &--desktop{
    background-image: url("../../../src/images/icons/monitor.png");

  }
  &:hover{
  box-shadow: 0px 0px 15px -3px #0A4356;

  }
}

.divState{
  display: flex;
  justify-content: center;
  margin: auto;
}
.frame-wrapper{
  position: relative;
}

.header{
  background-color: rgba(255, 255, 255, .8);
  padding-bottom: 27px;
  box-shadow: 0px 5px 9px -2px #0A4356;
  &__container{
    width: 935px;
    display: flex;
    position: relative;
    justify-content: center;
  }
}

.logo{
  width: 95px;
  height: 95px;
  border-radius: 50%;
  position: absolute;
  left: -95px;
  background: white;
}

.category{
  width: 700px;
  padding-top: 27px;
  &__item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    &--active {
      background-color: rgb(10, 67, 86);
      opacity: 0.502;
    }

    &-icon {
      margin-right: 8px;
    }

    &-title {
      text-transform: capitalize;
      font-size: 16px;
      //font-family: "Lato";
      color: rgb(10, 67, 86);
      line-height: 1.25;
      &:hover{
        color: #23a4ce;
      }
      &:active{
        color: #23a4ce;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container{
    width: 288px;
  }
  .header{
    display: flex;
    justify-content: space-between;
  }
  .logo{
    position: relative;
    width: 40px;
    left: -40px;
    align-self: center;
    height: 40px;
    img{
      width: 40px;
      height: 40px;
    }
  }
  .category{
    width: 184px;
  }
  .product{
    width: 100%;
    &__view{
      width: 100%;
    }
    &__name{
      font-size: 20px;
    }
    &__text{
      font-size: 16px;
    }
    &__info{
      padding-top: 60px;
    }
    &__share{
      right: 10px;
      top: 10px;
    }
    &__desc{
      margin-top: 30px;
    }
    &__list{
      width: 222px;
    }
    &__frame{
      &-desktop{
        width: 100%;
      }
      &-mob{
        width: 100%;
      }
      &--desktop{
        top: 30px;
        height: 124px;
        width: 226px;
      }
      &--mob{
        right: 5px;
        top: 66px;
        width: 172px;
        height: 304px;
      }
    }
  }
}

.preloader {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 45px;
  color: blue;
}